<!DOCTYPE html>
<html>
  <body>
    <h1>Hello World!</h1>
    {%if user%}
    <h3>Welcome {{user}}</h3>
    <form method="post" action="/logout" class="inline">
      <input
        type="hidden"
        name="extra_submit_param"
        value="extra_submit_value"
      />
      <button
        type="submit"
        name="logout_button"
        value="logout"
        class="link-button"
      >
        Logout
      </button>
    </form>
    {%else%}
    <h3><a href="/login">Login</a></h3>
    {%endif%}
  </body>
</html>
